<a href="https://colab.research.google.com/github/RemyaRS/Feature-Engineering/blob/main/Removing_Noisy_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [6]:
#for complex mathematical operations
import numpy as np 

#for dataframe manipulation
import pandas as pd

# for data visulisation
import seaborn as sns
import matplotlib.pyplot as plt

#Using google drive to import dataset

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Uploading Dataset

In [8]:
data = pd.read_csv('/content/drive/MyDrive/waterQuality1.csv')

Source of dataset - https://www.kaggle.com/datasets/mssmartypants/water-quality?select=waterQuality1.csv

Dataframe is a data structure having some rows and coloumns

Coloumns of dataframe may have data of different datatypes

Shape of dataset tells the number of rows and coloumns

In [9]:
print("Shape of Dataset:" , data.shape)

Shape of Dataset: (7999, 21)

In [10]:
data.head()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1

In [11]:
#Since missing values should not be present for a modelling ...find the missing value is present or not
data.isnull().sum()

aluminium      0
ammonia        0
arsenic        0
barium         0
cadmium        0
chloramine     0
chromium       0
copper         0
flouride       0
bacteria       0
viruses        0
lead           0
nitrates       0
nitrites       0
mercury        0
perchlorate    0
radium         0
selenium       0
silver         0
uranium        0
is_safe        0
dtype: int64

No missing values present

In [12]:
data['is_safe'].value_counts()

0        7084
1         912
#NUM!       3
Name: is_safe, dtype: int64

Since #NUM! noise is not only present other feature variables also, remove it from other columns

#Deleting noisy data

In [13]:
data=data[data.aluminium != '#NUM!']
data=data[data.ammonia != '#NUM!']
data=data[data.arsenic != '#NUM!']
data=data[data.barium != '#NUM!']
data=data[data.cadmium != '#NUM!']
data=data[data.chloramine != '#NUM!']
data=data[data.chromium != '#NUM!']
data=data[data.copper != '#NUM!']
data=data[data.flouride != '#NUM!']
data=data[data.bacteria != '#NUM!']
data=data[data.viruses != '#NUM!']
data=data[data.lead != '#NUM!']
data=data[data.nitrates	 != '#NUM!']
data=data[data.nitrites != '#NUM!']
data=data[data.mercury != '#NUM!']
data=data[data.perchlorate != '#NUM!']
data=data[data.radium != '#NUM!']
data=data[data.selenium != '#NUM!']
data=data[data.silver != '#NUM!']
data=data[data.uranium != '#NUM!']
data=data[data.is_safe != '#NUM!']

In [14]:
data['is_safe'].value_counts()

0    7084
1     912
Name: is_safe, dtype: int64